@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

* {
    color: aliceblue;
    font-family: pa;
} 


body {
    overflow: hidden;
}

.bar {
    position: absolute;
    width: 3vw;
    height: 1.6vw;
    right: 7;
    border-radius: .1vw;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 .1vw .1vw black;
    border-right: .2vw solid white;
}

i {
    position: absolute;
    font-size: .8vw;
    left: .3vw;
    bottom: .5vw;
}

#thirst-icon {
    position: absolute;
    left: .4vw;
}

#healthBack {
    position: absolute;
    bottom: 7.5vw;
}

#shieldBack {
    position: absolute;
    bottom: 5.5vw;
}

#hungerBack {
    position: absolute;
    bottom: 3.5vw;
}

#thirstBack {
    position: absolute;
    bottom: 1.5vw;
}

#idBack {
    position: absolute;
    bottom: 9.5vw;
}

p {
    position: absolute;
    font-size: .8vw;
    bottom: -.4vw;
    left:1.3vw;
}

.money-container {
    position: absolute;
    width: 10vw;
    padding: 1%;
    background-color: rgba(52, 49, 49, 0.49);
    border-right: .2vw solid green;
    box-shadow: 0 0 .1vw .1vw rgba(52, 49, 49, 0.49);
    top: 2vw;
    right: 1%;
    height: 1%;
}

#money-icon {
    position: absolute;
    color: green;
    left: 5%;
    bottom: 35%;
    font-size: 1vw;
}

#money {
    position: absolute;
    font-size: 1vw;
    bottom: 25%;
    width: auto;
    text-align: center;
    left: 14.5%;
}

.bank-container {
    position: absolute;
    width: 10vw;
    padding: 1%;
    background-color: rgba(52, 49, 49, 0.49);
    border-right: .2vw solid blue;
    box-shadow: 0 0 .1vw .1vw rgba(52, 49, 49, 0.49);
    top: 5vw;
    right: 1%;
    height: 1%;
}

#bank-money-icon {
    position: absolute;
    color: blue;
    left: 3%;
    bottom: 35%;
    font-size: 1vw;
}

#bank-money {
    position: absolute;
    font-size: 1vw;
    bottom: 25%;
    width: auto;
    text-align: center;
    left: 15%;
}

.black-money-container {
    position: absolute;
    width: 10vw;
    padding: 1%;
    background-color: rgba(52, 49, 49, 0.49);
    border-right: .2vw solid black;
    box-shadow: 0 0 .1vw .1vw rgba(52, 49, 49, 0.49);
    top: 8vw;
    right: 1%;
    height: 1%;
}

#black-money-icon {
    position: absolute;
    color: rgba(0,0,0,1);
    text-shadow: rgba(255,255,255,.5) 0 0 .4vw;
    left: 3%;
    bottom: 35%;
    font-size: 1vw;
}

#black-money {
    position: absolute;
    font-size: 1vw;
    bottom: 25%;
    width: auto;
    text-align: center;
    left: 15%;
}